language: java
sudo: false
jdk:
- oraclejdk8

before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
  - $HOME/.m2/repository/
  - $HOME/.sonar/cache
  - frontend/.gradle/nodejs
  - frontend/node_modules

addons:
  sonarcloud:
    organization: "patlenain-github"
    token:
      secure: "UYHkeQljlm1vcQc+MeMInPnsCEErT9suJcckMKbwMcuvPz4H5t6Lx+kB3XloM/Ljx4xUBT1dLrEXm356G8jwzX6PPmPHHXJUWq0iWURQcVLBhdkAKN4NmE7X9Xxn9+9vucUyfISZx1d8QySwKGy7/cg5T3orfTzsFmXrWBEHF6UeuACemcbNTgV8wWPJ2qcDMFmqrXEhNWerJYYB6h/b/Tik1bU+6SSGY5jAq5Az47B9X73jxolg5vGaYd0IA7g1Dr5SoeJizNToj0J2wKNYFxTELJR7YyPzQxY6CApWIP3s/BRxFlNYjlR28TV2lEQoKjk06I+sOneFGRRood0SjAsLSTvhAtczxujVmoINPGqZbjeaErWXgke3O+BBs35B1x3nXqzdjCLiuzUIoq5kKM4IuulGeowTQ/w9zdC7OMuQB6aQkvbhrYHF0m91LYqwv5uhUk9BbFVAu/hTHFpqafrcwn8m2hA6hSDnWCelAxvUpGDZ0vWQn1bmOadIFavVYgr3w9xRKbl5pYaKWHUP3Ux870IroWiaqERNYOk5fLDBQKma/kGjjUrMlGlRsvoEGhbZP9t0e0zydBpxkhpNR0JP6D4pB0XeIj4RKw5Qbqg3ofxdSEPt8Y4x7fgJrwCZLGg0WHPh4YIGcMzQTfc4ont+i6luN38qs3M63llbrP0="
    branches:
      - master

after_success:
        #- sonar-scanner
  - ./gradlew sonarqube -Dsonar.login=$SONAR_TOKEN -Dsonar.verbose=true

deploy:
  provider: releases
  api_key:
    secure: UP2x7EZAppNqyZEAVp8hydX2l27d2RPk/i3BC6HuDGLCmaLJn0iEdhTCC+KT1HwIrbu7b8Pbv2xiLMdlNHSa7ZUP5OeFR9VUAW0uwBiU1hLSJdO3OkWz763bCUm0CI9uVzBq05hcXNOkEmYvemSgL7p7WngLeEoM/nDr8iKQ5dNNE67F7w08Ik4e4rILRM5A7it6EJUgKxkK4OoxYJzVZc3dUWn072VBuI48vzOA3VP2C/qibzLoDJMe7KB4TNONY8OFcfhbqWEg1htNLfR5QK2qPaRi5u6XfDNeCcTOu/UHQVnVnQIiylQgyy18rGh8o9UuuUp+kUvCoLZmsJJvxwhqlWQiEn5U1EIJ5JLmEKtdJLVH8eg+6zlAaNujAnBRxZj/XJuUJ7QLW34WAwA6oI7rpKEd6id8N1l8mLLVd11cKBBMvYydSSGNdccemGV+3XIkFq82FGmwH3+LpoDvXnixgb1OThn5OweC2pls+FpvhlHJC6+ZF0LhvTJvnQgPgPAausPFIeLFUSsJ1Cid9Zpiq5vlKAVXTwkd3AY7m8cQCORf+7wbsGPOTRHRnQT8CeQZ48WIoFdy6uFVzP89d7qNZmGiKzLpHXP1bL3iwZNPmzZQvBGcWrsCRoVhRxM3btxIP8dsIcYTc3x0BJ1DRBzITt20kjKcpTo0GfZ/1p4=
  file_glob: true
  file: build/distributions/FakemailServer-*.*
  skip_cleanup: true
  on:
    repo: patlenain/fakemail-server
    tags: true
