@CHARSET "UTF-8";

.spinner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8) url(../images/ajax-loader.gif) center center no-repeat;
	opacity: 0.80;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
	filter: alpha(opacity = 80);
	z-index: 9999;
	display: none;
}
